[buildout]
parts = instance
extends =
    http://virtualsciences.github.io/cmaas/4.3-latest/hotfix.cfg
    http://dist.plone.org/release/4.3-latest/versions.cfg
find-links =
    http://dist.plone.org/release/4.3-latest
    http://dist.plone.org/thirdparty
versions = versions
eggs =
    ${hotfix:eggs}

[instance]
recipe = plone.recipe.zope2instance
user = ${settings:user}
http-address = ${settings:http-address}
debug-mode = off
verbose-security = off
blob-storage = ${buildout:directory}/var/blobstorage
zeo-address =
shared-blob = off
zeo-client = off
eggs =
    Plone
    ${buildout:eggs}
    ${settings:eggs}
zcml =
    ${settings:zcml}

[instance1:settings.hassattr('instance-count') and settings.get('instance-count') > 1]
<= instance
http-address = ${settings:instance-1-port}

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    ${instance:eggs}

[omelette]
recipe = collective.recipe.omelette
eggs =
    ${instance:eggs}
# plone.app.testing
# plone.testing

[zeo]
recipe              = plone.recipe.zeoserver
zeo-var             = ${buildout:directory}/var
zeo-address         = ${settings:zeo-address}
shared-blob         = on
blob-storage        = ${buildout:directory}/var/blobstorage
pack-days           = 7

[varnish-build]
recipe = zc.recipe.cmmi
url = ${varnish:download-url}

[varnish]
recipe              = plone.recipe.varnish
daemon              = ${buildout:parts-directory}/varnish-build/sbin/varnishd
backends            = ${settings:varnish-backends}
mode                = foreground
bind                = ${settings:varnish-bind}
cache-size          = ${settings:varnish-cache-size}

[supervisor]
recipe = collective.recipe.supervisor
plugins = superlance
port = 9083
supervisord-user = ${settings:effective-user}
programs =
    10 zeoserver  (startsecs=10) ${buildout:directory}/bin/zeoserver [fg]
    20 instance   (startsecs=10) ${buildout:directory}/bin/instance [console] true
    30 varnish    (startsecs=10) ${buildout:directory}/bin/varnish true

[chown]
recipe = plone.recipe.command
command = chown plone -R bin develop-eggs eggs parts src var

[settings]
version             = 4.3-latest
dev-port-prefix     = 8
prod-port-prefix    = 8
test-port-prefix    = 9
instance-postfix    = 080
instance-1-postfix  = 081
instance-2-postfix  = 082
instance-3-postfix  = 083
instance-4-postfix  = 084
instance-5-postfix  = 085
instance-6-postfix  = 086
instance-7-postfix  = 087
instance-8-postfix  = 088
instance-9-postfix  = 089
instance-d-postfix  = 090
zeo-postfix         = 000
supervisor-postfix  = 001
varnish-postfix     = 002
ip-address          =
http-ip             = ${settings:ip-address}
instance-port       = ${settings:dev-port-prefix}${settings:instance-postfix}
instance-1-port     = ${settings:dev-port-prefix}${settings:instance-1-postfix}
instance-2-port     = ${settings:dev-port-prefix}${settings:instance-2-postfix}
instance-3-port     = ${settings:dev-port-prefix}${settings:instance-3-postfix}
instance-4-port     = ${settings:dev-port-prefix}${settings:instance-4-postfix}
instance-5-port     = ${settings:dev-port-prefix}${settings:instance-5-postfix}
instance-6-port     = ${settings:dev-port-prefix}${settings:instance-6-postfix}
instance-7-port     = ${settings:dev-port-prefix}${settings:instance-7-postfix}
instance-8-port     = ${settings:dev-port-prefix}${settings:instance-8-postfix}
instance-9-port     = ${settings:dev-port-prefix}${settings:instance-9-postfix}
instance-d-port     = ${settings:dev-port-prefix}${settings:instance-d-postfix}
instance-count      = 1
debug-instance      = 0
http-address        = ${settings:instance-port}
zeo-ip              = ${settings:ip-address}
zeo-port            = ${settings:dev-port-prefix}${settings:zeo-postfix}
zeo-address         = ${settings:zeo-port}
supervisor-port     = ${settings:dev-port-prefix}${settings:supervisor-postfix}
varnish-ip          = ${settings:ip-address}
varnish-port        = ${settings:dev-port-prefix}${settings:varnish-postfix}
varnish-bind        = ${settings:varnish-port}
varnish-backends    = ${instance:http-address}
varnish-cache-size  = 512M
develop             =
eggs                =
zcml                =
user                = vsadmin:vsadmin
effective-user      = plone

[remotes]
# (Repository locations)
########################

# Plone
plone = git://github.com/plone
plone_push = git@github.com:plone
svn_plone = https://svn.plone.org/svn/plone
#svn_plone = http://svn.plone.org/svn/plone

# Collective
collective = git://github.com/collective
collective_push = git@github.com:collective
svn_collective = https://svn.plone.org/svn/collective
#svn_collective = http://svn.plone.org/svn/collective

# Zope
zope = svn://svn.zope.org/repos/main
#zope = svn+ssh://svn.zope.org/repos/main
zopegit = git://github.com/zopefoundation
zopegit_push = git@github.com:zopefoundation

# Virtual Sciences
vs = git://github.com/virtualsciences
vs_push = git@github.com:virtualsciences

[versions]

